:root {
    --rounded: 8px;

    --primary-text: white;
    --secondary-text: rgba(255, 255, 255, 0.5);

    --primary-bg: rgba(25, 25, 25, 0.3);
    --primary-bg-hover: rgba(25, 25, 25, 0.8);

    --primary-border-color: #4C4C4C;
    --primary-border-color-hover: white;

    --primary-font: "JetBrains Mono";
    --text-sm: 0.5rem;
    --text-md: 1rem;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);

}

body {
    position: relative;
    padding: 1rem;
    color: white;
}

ol {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1.5rem;
}

pre {
    background: var(--primary-bg);
    padding: 0.8rem;
    border: 1px solid var(--primary-border-color);
    border-radius: var(--rounded);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-secondary {
    color: var(--secondary-text);
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    filter: brightness(80%);
    background-image: url(https://github.com/UnknownRori/unknownrori.vercel.app/blob/main/public/assets/bg/cover.png?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
}

.container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;

    min-height: 100vh;
}

.card {
    display: flex;
    gap: 0.4rem;
    flex-direction: column;

    border: 1px solid var(--primary-border-color);
    border-radius: var(--rounded);

    backdrop-filter: blur(10px);
    padding: 1.5rem 2rem;
}

.input-form {
    outline: none;
    border: none;
    background: var(--primary-bg);
    padding: 0.5rem 1rem;
    color: white;

    border: 1px solid var(--primary-border-color);
    border-radius: var(--rounded);

    min-width: 400px;
    transition: background 200ms ease-out, border 200ms ease-out;
}

.input-form:hover {
    background: var(--primary-bg-hover);

    border: 1px solid var(--primary-border-color-hover);
}


.input-form:focus {
    background: var(--primary-bg-hover);

    border: 1px solid var(--primary-border-color-hover);
}

.btn {
    padding: 0.5rem 1rem;

    background: rgba(25, 25, 25, 0.5);
    color: var(--primary-text);

    border: 1px solid var(--primary-border-color);
    border-radius: var(--rounded);

    transition: background 200ms ease-out, border 200ms ease-out;
}

.btn:hover {
    cursor: pointer;
    background: rgba(55, 55, 55, 1.0);
    border: 1px solid var(--primary-border-color-hover);
}


#query-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.query-result {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 60%;
}

.query-result-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.query-title {
    font-weight: bold;
    cursor: pointer;
}

.query-result-card span {
    filter: blur(4px);
    font-size: var(--text-sm);
    color: var(--secondary-text);
    transition: filter 500ms ease-out;
}

.query-result-card span:hover {
    filter: blur(1px);
    font-size: var(--text-sm);
    color: var(--secondary-text);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 1rem 0;
    color: var(--secondary-text);

    width: 100vw;
}
